#whole_container {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container,
.caption_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.image_logo {
  width: 20vw;
  height: 20vw;
}

.image_flag {
  width: 20vw;
  height: 20vw;
  border-radius: 20vw;
}

.caption,
button,
.modal_title,
.title {
  background-color: #972a29;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 25vw;
  text-align: center;
  padding: 1vw;
}

button {
  cursor: pointer;
}

#player_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 415px) {
  .container {
    margin: 5px;
  }

  .caption_container {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 5px;
  }

  .caption {
    font-size: 18px;
    width: 60vw;
    margin: 5px;
  }

  .title,
  button {
    width: 50vw;
    padding: 1vw;
  }

  .image_logo {
    width: 35vw;
    height: 35vw;
  }

  .image_flag {
    width: 35vw;
    height: 35vw;
    border-radius: 35vw;
  }

  #player_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .modal_title {
    font-size: 18px;
    width: 35vw;
  }

  #whole_container {
    height: 70vh;
  }
}

@media screen and (min-width: 416px) and (max-width: 1024px) {
  .caption {
    font-size: 28px;
    margin: 5px;
    width: 60vw;
  }

  button {
    font-size: 30px;
    width: 60vw;
    padding: 1vw;
  }

  .title {
    font-size: 40px;
    width: 60vw;
    padding: 1vw;
  }

  .container {
    margin: 5px;
  }

  .caption_container {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 5px;
  }

  .image_logo {
    width: 35vw;
    height: 35vw;
  }

  .image_flag {
    width: 35vw;
    height: 35vw;
    border-radius: 35vw;
  }

  #whole_container {
    height: 70vh;
  }
}
