.header {
  background-color: #972a29;
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.social_media {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.social_media:hover {
  cursor: pointer;
  animation: zoom_out 1s forwards;
}

.social_media_container {
  margin-right: 10px;
}

@keyframes zoom_out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 414px) {
  .logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }

  .logo_container {
    height: 60px;
  }

  .social_media {
    width: 25px;
    height: 25px;
    padding: 2px;
  }

  .header {
    height: 100px;
  }
}
