img {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: goldenrod;
}

@media screen and (max-width: 414px) {
  .container {
    height: 70vh;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .container {
    height: 70vh;
  }
}
