#body {
  display: grid;
  width: 100vw;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 15vw;
  animation-name: navbar_animate 1s forwards;
}

.home_comp {
  grid-column-start: 2;
  width: 85vw;
}

.home_comp_expand {
  grid-column-start: 1;
  width: 100vw;
}

.navbar_hide {
  display: none;
}

@keyframes navbar_animate {
  from {
    display: block;
  }
  to {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .navbar {
    width: 25vw;
  }

  .home_comp {
    grid-column-start: 2;
    width: 75vw;
  }
}
